<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>常用标品信息</title>
    <link rel="stylesheet" href="../statics/github.css">
    <link rel="stylesheet" href="../statics/theme.css">
    <style>
        .expir30 {
            color: darkorange;
        }

        .expir7 {
            color: red;
        }

        .expired {
            color: red;
            text-decoration: line-through;
        }

        .pure-table {
            width: 100%;
            font-size: small;
        }

        .pure-table caption {
            font-style: normal;
        }

    </style>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./common-standards.info.js"></script>
    <script type="module">
        $(() => {
            createTable(info)

            $("#search").click(() => {
                let keyword = $("#keyword").val()
                if (keyword.trim() == "") {
                    createTable(info)
                    return
                }

                let temp = []
                info.filter(value => {
                    if (value.batch.toLowerCase().includes(keyword.toLowerCase())) {
                        temp.push(value)
                    }
                })

                createTable(temp)
            })
        })

        function createTable(data) {
            let content = document.getElementById("content")
            content.innerHTML = ""
            let table = document.createElement("table")
            table.setAttribute("class", "pure-table")

            // 添加
            let caption = document.createElement("caption")
            caption.innerText = `共找到 ${data.length} 条记录`
            table.appendChild(caption)

            // 添加表头
            let tr = document.createElement("tr")
            let th_batch = document.createElement("th")
            let th_expir = document.createElement("th")
            let th_contont = document.createElement("th")
            th_batch.innerText = "批号"
            th_expir.innerText = "有效期至"
            th_contont.innerText = "含量丨纯度"
            tr.appendChild(th_batch)
            tr.appendChild(th_expir)
            tr.appendChild(th_contont)
            table.appendChild(tr)

            // 向表格添加内容
            data.forEach((value) => {
                let tr = document.createElement("tr")
                let td_batch = document.createElement("td")
                let td_expir = document.createElement("td")
                let td_content = document.createElement("td")

                td_batch.innerHTML = value.batch
                td_expir.innerHTML = expir(value.expir)
                td_content.innerHTML = value.content

                tr.appendChild(td_batch)
                tr.appendChild(td_expir)
                tr.appendChild(td_content)
                table.appendChild(tr)
            })

            content.appendChild(table)
        }

        function expir(value) {
            let date = new Date()
            let array = value.split(".")
            date.setFullYear(array[0], array[1] - 1, array[2])

            let day = (date - Date.now()) / 86400000

            if (day <= 0) {
                return `<span class='expired'>${value}</span>`
            }

            if (day <= 7) {
                return `<span class='expir7'>${value}</span>`
            }

            if (day <= 30) {
                return `<span class='expir30'>${value}</span>`
            }

            return value
        }

    </script>
</head>

<body>
    <div style="width: 100%; white-space: nowrap;">
        <input style="width: 80%;" type="text" id="keyword" placeholder="输入批号进行搜索（忽略大小写）">
        <button style="width: 15%;" id="search" type="submit">搜索</button>
    </div>
    <div id="content"></div>
    <p>
        过期提醒：<br>
        <span class="expir30">黄色表示有效期剩余30天</span><br>
        <span class="expir7">红色表示有效期剩余7天</span><br>
        <span class="expired">红色加删除线表示已过期</span><br>
    </p>
</body>

</html>
